<div class="mt-5">
    <div class="flex">
        <div class="w-full md:w-1/3 p-4">
            <div class="info-box bg-amber-400 p-4 rounded shadow text-center font-bold">
                + {{event}} évènements
            </div>
        </div>
        <div class="w-full md:w-1/3 p-4">
            <div class="info-box bg-amber-400 p-4 rounded shadow text-center font-bold">
                + {{organizer}} organisateurs
            </div>
        </div>
        <div class="w-full md:w-1/3 p-4">
            <div class="info-box bg-amber-400 p-4 rounded shadow text-center font-bold">
               + {{categorie}} Catégories
            </div>
        </div>
    </div>
</div>