<div class="container mx-auto p-2">
    <img src="../../../../../../assets/logo.jpg" alt="Event" class="w-1/2 h-80 rounded object-cover mb-2">
    <div class="mb-8">
        
        <div class="flex justify-between items-center">
            <div>
                <p class="text-blue-600 text-sm">Fri, Mar 9, 9:00PM</p>
                <h1 class="text-3xl font-bold mt-1">NBF Technology Academy</h1>
            </div>
            <div>
                <p class="text-lg font-semibold">From AED 150.50</p>
                <button class="bg-orange-500 text-white px-5 py-2 mt-2 rounded-lg">Buy tickets</button>
            </div>
        </div>
        <div class="bg-white p-4 rounded-lg shadow-md flex items-center space-x-4 max-w-md">
            <img src="../../../../../../assets/logo.jpg" alt="Avatar" class="w-12 h-12 rounded-full">
            <div class="flex-grow">
                <p class="font-semibold">Mouhamadou DIAMANKA</p>
            </div>
            <button class="px-4 py-2 border border-amber-400 text-amber-400 rounded hover:bg-amber-400 hover:text-white transition duration-300">
                Abonné
            </button>
        </div>
        <div class="mt-6 flex items-center">
            <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400 mr-2" fill="currentColor" viewBox="0 0 20 20"><path d="M6 2a1 1 0 00-1 1v12.586l-2.293-2.293a1 1 0 10-1.414 1.414l4 4a1 1 0 001.414 0l4-4a1 1 0 10-1.414-1.414L7 15.586V3a1 1 0 00-1-1z"/></svg>
                <div>
                    <p class="text-gray-700 text-sm">Thu, Mar 9, 2023, 2:00 PM - Wed, Mar 15, 2023, 12:00 PM</p>
                    <p class="text-gray-500 text-xs">Gulf Standard Time United Arab Emirates Time</p>
                </div>
            </div>
            <div class="ml-6 flex items-center">
                <svg class="w-6 h-6 text-gray-400 mr-2" fill="currentColor" viewBox="0 0 20 20"><path d="M10 20a1 1 0 001-1v-5a1 1 0 00-1-1H7.5a4.5 4.5 0 010-9H10a1 1 0 100-2H7.5a6.5 6.5 0 000 13H10v5a1 1 0 001 1zM13 6h2.5a4.5 4.5 0 010 9H14a1 1 0 100 2h1.5a6.5 6.5 0 000-13H13a1 1 0 100 2z"/></svg>
                <div>
                    <p class="text-gray-700 text-sm">Location</p>
                    <p class="text-gray-500 text-xs">Novotel Hotel Fujairah, Fujairah</p>
                </div>
            </div>
        </div>
    </div>
  
    <div class="bg-white p-6 rounded shadow mb-8">
        <p class="font-bold text-gray-700">Partage</p>
        <div class="flex items-center justify-between">
            <div>
                <p class="text-blue-500">https://www.eventbrite.com/e/intelligence-artificielle-ti...</p>
            </div>
            <button class="text-blue-500">Copie le lien</button>
        </div>
    </div>
  </div>
  