<aside class="bg-blue-950 text-white w-60 p-3 h-full">
    <ul>
        <li class="mb-4"><a class="text-white hover:text-amber-500 cursor-pointer" routerLink="dashboard"><i class="pi pi-chart-pie mr-2"></i>Tableau de bord</a></li>
        <li class="mb-4"><a class="text-white  hover:text-amber-500 cursor-pointer" routerLink="event"> <i class="pi pi-calendar-plus mr-2 "></i>Mes évènements</a></li>
        <li class="mb-4"><a class="text-white  hover:text-amber-500 cursor-pointer" routerLink="event"> <i class="pi pi-bookmark mr-2 "></i>Marketting</a></li>
    </ul>
</aside>

