<div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
  <table class="w-[780px] text-sm text-left rtl:text-right text-white dark:text-white">
    <thead class="text-xs text-white uppercase bg-amber-400 dark:bg-amber-400 dark:text-white">
    <tr>
      <th scope="col" class="px-4 py-3 font-bold">Nom événements</th>
      <th scope="col" class="px-4 py-3 font-bold">Date</th>
      <th scope="col" class="px-4 py-3 font-bold">Statut</th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-4 py-2.5 font-medium text-gray-900 whitespace-nowrap dark:text-white">Événement 1</td>
      <td class="px-4 py-2.5 font-medium text-gray-900 whitespace-nowrap dark:text-white">10/06/24</td>
      <td class="px-4 py-2.5 font-medium text-gray-900 whitespace-nowrap dark:text-white">En cours</td>
    </tr>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <td class="px-4 py-2.5 font-medium text-gray-900 whitespace-nowrap dark:text-white">Événement 2</td>
      <td class="px-4 py-2.5 font-medium text-gray-900 whitespace-nowrap dark:text-white">15/06/24</td>
      <td class="px-4 py-2.5 font-medium text-gray-900 whitespace-nowrap dark:text-white">Planifié</td>
    </tr>
    <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
      <td class="px-4 py-2.5 font-medium text-gray-900 whitespace-nowrap dark:text-white">Événement 3</td>
      <td class="px-4 py-2.5 font-medium text-gray-900 whitespace-nowrap dark:text-white">20/06/24</td>
      <td class="px-4 py-2.5 font-medium text-gray-900 whitespace-nowrap dark:text-white">Terminé</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3" class="border-t-0">
        <div class="flex justify-center py-3">
          <button type="submit" class="inline-block bg-blue-950 text-white px-4 py-2 text-sm rounded-md shadow-md hover:bg-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-950 text-center">
            Tous les événements
          </button>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
