<div class="h-56 grid grid-cols-3 gap-4 content-start">
  <div class="flex flex-col items-center justify-center p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="flex items-baseline mb-2">
      <i class="pi pi-calendar-clock text-5xl cursor-pointer mr-2"></i>
      <div class="flex flex-col items-center">
        <span class="text-amber-400 text-5xl leading-none font-bold">25</span>
        <span class="text-sm text-gray-900 dark:text-white">Planifiés</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="flex items-baseline mb-2">
      <i class="pi pi-calendar-times text-5xl cursor-pointer mr-2"></i>
      <div class="flex flex-col items-center">
        <span class="text-amber-400 text-5xl leading-none font-bold">57</span>
        <span class="text-sm text-gray-900 dark:text-white">Evénements passés</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="flex items-baseline mb-2">
      <i class="pi pi-users text-5xl cursor-pointer mr-2"></i>
      <div class="flex flex-col items-center">
        <span class="text-amber-400 text-5xl leading-none font-bold">1080</span>
        <span class="text-sm text-gray-900 dark:text-white">Participants</span>
      </div>
    </div>
  </div>
</div>
